.LeaderHeader {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    
    
}

#quote {
    font-family: 'Charm', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: right;
    vertical-align: middle;
    
}




